.button {
  border: none;

  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}

.button:disabled{
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}