.header h1{
    font-size: 600%;
    font-weight: 900;
    letter-spacing: 0;
    text-align: center;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
        245deg,
        rgba(153,169,255,1) 20%,
        rgba(252,255,0,1) 48%,
        rgba(178,101,255,1) 75%
    );
    background-size: 140%;
    animation: bg-animation 3s linear infinite;
}

.header {
    position: relative;
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@keyframes bg-animation {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }

}

/*with screen below 600px*/
@media screen and (max-width: 600px){
    .header h1{
        font-size: 400%;
    }
}