

.backdrop{
    position: relative;

    filter: drop-shadow(0 0 20px rgba(251, 201, 148, 0.49));
    width: 196px;
    height: 311px;
    flex-shrink: 0;

}



.content {

   round-clip: inset(0% 45% 0% 45% round 10px);

    -webkit-clip-path: polygon(50% 0%,
        90% 4%, 92% 12%,
        100% 18%, 100% 89%,
        50% 100%,
        0 89%, 0 18%,
        8% 12%, 10% 4%);
    clip-path: polygon(50% 0%,
        90% 4%, 92% 12%,
        100% 18%, 100% 89%,
        50% 100%,
        0 89%, 0 18%,
        8% 12%, 10% 4%);
    width: 100%;
    height: 100%;
    background-color: var(--gorse);
    position: absolute;
    cursor: pointer;

    display: flex;
    flex-direction: column;

}



.content header{
    display:flex;

    width: 100%;
    height: 70%;

    position: relative;

}


.content header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.content header .imgBackdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 5, 5, 0.32);
    top:0;
    left:0;

}



.content header .scoreSection{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    position: absolute;
    top:0;
    left:0;
}

.content header .imgBackdrop .scoreSection h2{
    color: white;
    font-size: 2rem;
    margin: 0;

}

.content main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 25%;
    padding: 0;
}

.content main h3{
    color: white;
    font-size: 1.5rem;
    margin: 0;
}
/*

.content:hover .imgBackdrop{
    transform: scale(1.1);
}
/*
.content:hover{
    background-color: var(--corvette);
    transform: translateY(-40px) scale(1.1);
}*/

.content:hover main h3{
    color:black
}