.animatedFotball{
    height: 60%;
}

.auth button{
    background-color: var(--gorse);
    color: black;
    border-radius: 10px;
}

.auth button:hover{
    background-color: #ffffb0;
    color: black;
}