.circle{

    position: fixed;
    width: 400px;
    height: 400px;
    background: var(--gorse);
    border-radius: 50%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: -1;

}