.home{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animatedFotball{
    height: 60%;
}

.auth button{
    background-color: #68C682;
    color: black;
    border-radius: 10px;
}

.auth button:hover{
    background-color: #8effaa;
    color: black;
}