.navbar {
  background-color: #3c3c43;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* bottom-sticky navbar styling */
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.navbar ul li {
  color: #ffffff;
  cursor: pointer;
}

.navbar form {
  display: flex;
  justify-content: center;

  align-items: center;
}

.navbar form input {
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  height: 1.5rem;
}

.navbar form button {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #007aff;
  color: #ffffff;
  min-height: 34px;
}
