

.backdrop{
    position: relative;

    filter: drop-shadow(0 0 20px rgba(101, 71, 161, 0.49));
    width: 200px;
    height: 300px;
    flex-shrink: 0;

}



.content {

   round-clip: inset(0% 45% 0% 45% round 10px);

    -webkit-clip-path: polygon(50% 0%,
        90% 4%, 92% 12%,
        100% 18%, 100% 89%,
        50% 100%,
        0 89%, 0 18%,
        8% 12%, 10% 4%);
    clip-path: polygon(50% 0%,
        90% 4%, 92% 12%,
        100% 18%, 100% 89%,
        50% 100%,
        0 89%, 0 18%,
        8% 12%, 10% 4%);
    width: 100%;
    height: 100%;
    background-color: #10101c;
    position: absolute;
    cursor: pointer;

    display: flex;
    flex-direction: column;

}



.content header{
    display:flex;

    width: 100%;
    height: 70%;

    position: relative;

}


.content header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

}

.content header .imgBackdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 5, 5, 0.32);
    top:0;
    left:0;

}



.content header .scoreSection{
    height: 100%;

    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 1rem;
    justify-content: end;
    position: absolute;
    font-size: 100%;
    font-weight: bolder;
    color: var(--eucaliptyus-old);
    top:0;
    left:0;
}

.content header .imgBackdrop .scoreSection h2{
    color: white;
    font-size: 1rem;
    margin: 0;

}
.content header .scoreSection label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}
.content main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.content main label{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}
/*

.content:hover .imgBackdrop{
    transform: scale(1.1);
}
/*
.content:hover{
    background-color: var(--corvette);
    transform: translateY(-40px) scale(1.1);
}*/

.content:hover main h3{
    color:black
}


.details * {
    color: black;
}
.content:hover .details{
    opacity: 1;
    display: flex;

}
.details{
    width: 100%;

    justify-content: center;
    align-items: center;
    display: none;
}
.viewButton{
    width: 80%;
    background-color: transparent;
    border: 1px solid black;
}

.viewButton:hover{
    background-color: black;
    color: white;
}
.content header{
    transition-duration: 200ms;
}
.content:hover header{
    height: 0;

}
.content main{
    transition-duration: 200ms;

}
.content:hover main{
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 5rem;
    background-color: var(--corvette);
}