.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.container > h1 {
    color: var(--corvette);
    font-size: 4rem;
}



.cardGallery{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 80px;
    width: 100%;
    /*overflow: scroll;*/

    box-sizing: border-box;

    padding: 7rem 2rem 7rem 2rem;


}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3rem;
    width: 90%;
}



.buttons .next,
.buttons .prev{
    background-color: transparent;
    border-radius: 10px;
    padding: 0 1.5rem;
    display: flex;
    gap: 20px;
    width: fit-content;
    height: 3.5rem;
    font-size: 1rem;
    color: white;
    border : 1px solid #7a4da6;
}
.buttons .next:hover,
.buttons .prev:hover{
    background-color: rgba(25, 12, 37, 0.94);
    color:white;
    border: 1px solid #a26942;
}

.buttons .next{
    flex-direction: row-reverse;
}

.moreButton{
    background-color: var(--corvette);
    border-radius: 10px;

}

.moreButton:hover{
    background-color: #b7805b;
}
.pagination ul{
    padding:0;
}